footer {
  background-color: var(--deep-color);
  color: var(--sand-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer a:any-link {
  color: var(--sand-color);
}

footer a:hover {
  color: var(--accent-color);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
    text-align: center;
  }
}

.footer .columns-wrapper {
  border-bottom: 1px solid var(--slate-color);
  padding-bottom: 24px;
}

footer .footer .columns-wrapper > div {
  display: grid;
  background-color: var(--deep-color);
  color: var(--sand-color);
}
